div.rel {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p1 sentiment p2"
    "r1 sentiment r2";
}

div.rel div.p1 { grid-area: p1; }

div.rel .r1 { grid-area: r1; }

div.rel .p2 { grid-area: p2; }

div.rel .r2 { grid-area: r2; }

div.rel .sentiment { grid-area: sentiment; }
