td:nth-child(even) {
  text-align: right;
  padding-left: 10px;
}
td:nth-child(odd) {
  font-weight: bold;
  text-align: left;
  white-space: nowrap
}
table {  }

section.main { width: 80% ; margin-left: auto ; margin-right: auto }

div.rel {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "p1 sentiment p2"
    "r1 sentiment r2";
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
}

div.rel div.p1 { grid-area: p1; }

div.rel div.r1 { grid-area: r1; margin-bottom: auto}

div.rel div.p2 { grid-area: p2; }

div.rel div.r2 { grid-area: r2; margin-bottom: auto}

div.rel div.sentiment { grid-area: sentiment; margin: auto auto auto; }

div.sentiment .view {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "bond"
    "l2r"
    "icon"
    "r2l";
}

div.sentiment .bond { grid-area: bond; }

div.sentiment .l2r { grid-area: l2r; }

div.sentiment .r2l { grid-area: r2l; }

div.sentiment .icon { grid-area: icon; }


